[Desktop Entry]
Name=NBFC GUI Controller
Comment=GUI Controller for Notebook Fan Control
Exec=nbfc-gui
Icon=fan
Terminal=false
Type=Application
Categories=System;Settings;
